<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Projetos</title>
    <!--  <link
      rel="stylesheet"
      href="{{ url_for('serve_css', filename='style.css') }}"
    /> -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- First Background -->
    <div class="content-bg">
      <!-- Content Body -->
      <div class="container page-width">
        <header class="header-container">
          <nav>
            <ul class="menu">
              <li><a class="navlink" href="#">Repository</a></li>
              <li><a class="navlink" href="#">Who am I?</a></li>
              <li>
                <details>
                  <summary>
                    Socials
                    <img
                      id="caret"
                      class="caret"
                      src="../static/images/CaretDown.svg"
                      alt=""
                    />
                  </summary>
                  <div class="container-links">
                    <a class="social-link" href="">Github</a>
                    <a class="social-link" href="">LinkedIn</a>
                  </div>
                </details>
              </li>
              <a class="ctt-button" href="">Talk to me!</a>
            </ul>
            <div class="menu-toggle">
              <img
                class="points-menu"
                src="../static/images/DotsThreeVertical.svg"
                alt=""
              />
            </div>
          </nav>
        </header>
        <!-- First Section -->
        <div>
          <div class="attetion-content">
            <span class="a-title">Hey!</span>
            <span class="a-subtitle"
              >Welcome to my Machine Learning and Data Science Repository!</span
            >
          </div>
          <div class="bonus-att">
            <div class="blurbonus">
              <span class="i-blur"></span>
              <span class="bonus-att-a"
                >Some of stuff will be able in the moment that i finish the
                project.</span
              >
            </div>
          </div>
        </div>
        <!-- <div class="container">
          <div class="container-list">
            <ul>
              <a class="project-name" href="http://">
                <li>Nome do projeto</li>
              </a>
              {% for projeto in projetos %}
              <a class="project-name" href="{{ projeto[3] }}" target="_blank">
                <li>{{ projeto[1] }}</li>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div> -->
      </div>
      <!-- FOOTER -->
      <!-- <footer>
        <div class="container-footer">
          <div class="socials">
            <a class="links" href="https://www.linkedin.com/in/matheusarjc/">
              <img
                id="icon"
                src="..\static\images\linkedin-logo-fill.svg"
                alt=""
                srcset=""
              />
              <span class="tooltiptext">LinkedIn</span>
            </a>
            <a class="links" href="https://github.com/matheusarjc">
              <img
                id="icon"
                src="..\static\images\github-logo-fill.svg"
                alt=""
                srcset=""
              />
              <span class="tooltiptext">GitHub</span>
            </a>
          </div>
          <div class="copyright"><span>Made by Matheusarjc ©2023</span></div>
        </div>
      </footer> -->
    </div>
    <img class="blurbg" src="../static/images/Blur-BG.svg" alt="" />
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var menuToggle = document.querySelector(".menu-toggle");
      var mobileMenu = document.querySelector(".menu");

      menuToggle.addEventListener("click", function () {
        this.classList.toggle("active");
        mobileMenu.classList.toggle("active");
        if (mobileMenu.classList.contains("active")) {
          menuToggle.style.backgroundColor = "#fb8500";
        } else {
          menuToggle.style.backgroundColor = "#ecf39e";
        }
      });
    });

    const caret = document.getElementById("caret");

    caret.addEventListener("click", () => {
      caret.classList.toggle("rotated");
    });
  </script>
</html>
